.sensorCard {
    display: flex;
    flex-direction: column;
    padding: 24px;
    color: #31AE4D;
}
.sensorCardInformation {

}
.sensorCardHeader {

}
.sensorCardDifference {

}
.sensorCardValue {

}
.sensorCardValueContainer {

}
